<form>
  <div class="form-group">
    <label> {{localize "l5r4.traits.name"}}</label>
    <input type="text" name="itemName" placeholder="New equipment">
  </div>

  <div class="form-group">
    <label>{{localize "l5r4.skill.type"}}</label>
    <select name="itemType">
      <option value="weapon" selected="">{{localize "l5r4.weapon.typeWeapon"}}</option>
      <option value="bow">{{localize "l5r4.weapon.typeBow"}}</option>
      <option value="armor">{{localize "l5r4.armor.name"}}</option>
    </select>
  </div>
</form>